@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');

#project-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 10px;
    row-gap: 10px;
    /* margin-left: 100px; */
}

html {
    background-color: #fffafb;
}

nav {
    font-family: "Noto Sans HK";
    justify-content: space-around;
}

img#main-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 94px;
    max-width: 485px;
    margin-top: 25px;
    margin-bottom: 25px;
}