h2 {
    text-align: center;
}

.project-data-container {
    display: flex;
    flex-direction: column;
}

img {
    margin-left: auto;
    margin-right: auto;
}

.project-data-detail {
    margin-left: 20%;
}